.response_component{
    .green{
        width: 100%;
        text-align: center;
        background-color: green;
    }
    .red{
        width: 100%;
        text-align: center;
        background-color: red;
    }
}