nav {
    width: 100%;
    background-color: rgb(255, 7, 255);

    .workingArea {
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            font-weight: bolder;
            font-size: 50px;
            margin: 15px 0;
        }

        .links {
            padding: 5px 15px;
            display: flex;
            gap: 20px;
            font-size: 24px;
            font-weight: bolder;
            color: black;

            Link {
                text-decoration: none;
                color: white;
            }

            button {

                font-size: 22px;
                font-weight: bolder;
                padding: 5px 15px;
                border-radius: 10px;
                outline: none;
                cursor: pointer;
            }
        }
    }
}